*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Arial, sans-serif;
    overflow-x:hidden;
}

/* NAVBAR */

.navbar{

    width:100%;

    background:linear-gradient(90deg,#000428,#004e92);

    display:flex;
    flex-direction:column;

    align-items:center;

    padding:15px 10px;

    

    z-index:1000;
}

/* LOGO */

.logo{
    color:white;

    font-size:28px;
    font-weight:bold;

    margin-bottom:15px;
}

/* NAV LINKS */

.nav-links{

    width:100%;

    display:flex;
    flex-direction:column;

    gap:10px;

    list-style:none;
}

/* FORM */

.nav-links form{

    width:100%;

    display:flex;
    flex-direction:column;

    gap:10px;
}

/* INPUT */

.nav-links form input[type="text"]{

    width:100%;

    padding:12px;

    border:none;
    border-radius:6px;

    font-size:16px;
}

/* BUTTONS */

.nav-links form button,
.nav-links form input[type="submit"]{

    width:100%;

    padding:12px;

    border:none;
    border-radius:6px;

    color:white;

    font-size:16px;
    cursor:pointer;
}

/* MENU LINKS */

.nav-links li{
    width:100%;
}

.nav-links li a{

    display:block;

    width:100%;

    text-align:center;

    text-decoration:none;

    color:white;

    font-size:18px;

    padding:12px;

    border-radius:8px;

    transition:0.3s;
}

.nav-links li a:hover{
    background:white;
    color:#004e92;
}
